footer{
    height: 7vh;
    bottom:0px;
    background-color:rgb(235, 235, 235);
    width:80vw;
    padding-left: 10vw;
    padding-right: 10vw;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}